html,body{
  height: 100%;
}

.login{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    margin-bottom: 10px;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
  }
  .alert{
    margin-top: 10px;
  }
}

header{
  padding-bottom: 80px;
}

.add-category{
  .title{
    margin-bottom: 20px;
  }
  .table > tbody > tr > td {
     vertical-align: middle;
  }
}

.add-games{
  .title-second{
    margin-bottom: 20px;
    .add-btn{
      text-align: right;
    }
  }
  .title{
    margin-bottom: 20px;
  }
  .table > tbody > tr > td {
     vertical-align: middle;
  }
  .add-game{
    margin-bottom: 20px;
    img{
      display:block;
      max-height: 200px;
      margin-bottom: 10px;
    }
    #poster{
      input{
        display: block;
      }
    }
  }
}
