html, body {
  height: 100%; }

.login {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5; }
  .login .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center; }
  .login .form-signin .checkbox {
    font-weight: 400; }
  .login .form-signin .form-control {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px; }
  .login .form-signin .form-control:focus {
    z-index: 2; }
  .login .form-signin input[type="text"] {
    margin-bottom: 10px; }
  .login .form-signin input[type="password"] {
    margin-bottom: 10px; }
  .login .alert {
    margin-top: 10px; }

header {
  padding-bottom: 80px; }

.add-category .title {
  margin-bottom: 20px; }

.add-category .table > tbody > tr > td {
  vertical-align: middle; }

.add-games .title-second {
  margin-bottom: 20px; }
  .add-games .title-second .add-btn {
    text-align: right; }

.add-games .title {
  margin-bottom: 20px; }

.add-games .table > tbody > tr > td {
  vertical-align: middle; }

.add-games .add-game {
  margin-bottom: 20px; }
  .add-games .add-game img {
    display: block;
    max-height: 200px;
    margin-bottom: 10px; }
  .add-games .add-game #poster input {
    display: block; }
