@import url('https://fonts.googleapis.com/css?family=Play:400,700');

$blue:#2a5fe7;

body {
  font-family: 'Play', sans-serif !important;
  background-color: #ededed !important;
}

.header{
  margin-top: 20px;
  margin-bottom: 20px;
  .title{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .buttons{
    text-align: right;
    padding-top: 10px;
  }
  .popular{
    margin-top: 10px;
    .title{
      font-weight: normal;
      font-size: 20px;
    }
    #popular-games{
      width: 100%;
      min-height: 400px;
    }
    .game-card{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 400px;
      position: relative;
      display: block;
      .game-title{
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        font-weight: bold;
        font-size: 28px;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.7);
        padding-bottom: 20px;
        padding-top: 20px;
      }
    }
  }
}

.index{
  .left-menu{
    border-radius: 4px;
    border-top:4px solid $blue;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    .title{
      font-weight:bold;
      padding-left: 10px;
      font-size: 20px;
      margin-bottom: 4px;
      text-transform: uppercase;
    }
    .list{
      list-style: none;
      padding-left: 10px;
      padding-bottom: 6px;
      margin: 0;
    }
  }
}
