<script type='text/javascript' src='{{ assets }}js/jquery.min.js'></script>
<script type='text/javascript' src='{{ assets }}js/popper.min.js'></script>
<script type='text/javascript' src='{{ assets }}js/bootstrap.min.js'></script>
<script type='text/javascript' src='{{ assets }}js/jquery.form.min.js'></script>
<script type='text/javascript' src='{{ assets }}js/admin.js'></script>
</body>
</html>
