{% include 'admin/header.tpl' %}

<section class="main">
  <div class="container">
    <p class="h1">Добро пожаловать в панель управления!</p>
  </div>
</section>

{% include 'admin/footer.tpl' %}
