  <footer>
    <div class="container">
      <div class="row">
        <div class="col-6">
          
        </div>
        <div class="col-6">

        </div>
      </div>
    </div>
  </footer>

  <script type='text/javascript' src='{{ assets }}js/jquery.min.js'></script>
  <script type='text/javascript' src='{{ assets }}js/popper.min.js'></script>
  <script type='text/javascript' src='{{ assets }}js/bootstrap.min.js'></script>
</body>
</html>
